/* Global layout */
html { background: #d6bd84; }
body { padding: 1em; margin: 1em; background: white; font-family: sans; font-size: 12px; }
#header { position: relative; margin: -1em; margin-bottom: 1em; padding: 0.5em; border-bottom: 1px solid #d6bd84; background: #eaddbf; }
#header #title { position: absolute; right: 0.5em; top: 0.5em; }
#header ul#menu { }
#header ul#menu li { display: inline; }
#header ul#menu li + li:before { content: ' • '; }

h1 { font-size: 2em; margin: 0.5em 0 0.25em; padding: 0.17em 0.33em; border-bottom: 3px double black; font-weight: bold; text-shadow: #c0c0c0 1px 1px 3px; }
h2 { font-size: 1.67em; margin: 0.4em 0 0.2em; padding: 0.17em 0.33em; border-bottom: 2px solid black; }
h3 { font-size: 1.33em; margin: 0.375em 0 0.18em; padding: 0.17em 0.33em; border-bottom: 1px dotted black; }

a { font-weight: bold; text-decoration: none; color: #4073bf; }
a:visited { color: #6a7b95; }
a:hover { color: #2a4d7f; }

var { font-family: monospace; font-style: italic; }
code { font-family: monospace; }
p { line-height: 1.33; margin-top: 0.5em; }
p img { vertical-align: bottom; }

input, button { vertical-align: middle; }
select { vertical-align: bottom; }

dl { margin-top: 0.5em; line-height: 1.33; }
dl dt { }
dl dd { margin-left: 1em; }
dl dd + dt { margin-top: 0.5em; }

dl.standard-form { line-height: 2; }
dl.standard-form dt { float: left; width: 10em; text-align: right; font-style: italic; }
dl.standard-form dd { margin-left: 10.5em; }
dl.standard-form dd:after { content: 'float clear'; display: block; clear: left; height: 0; visibility: hidden; }
dl.standard-form dd + dd { margin-top: 1em; }


/* Index page */
#big-honkin-telnet-command { font-size: 2.5em; width: 50%; margin: 0 auto; padding: 0.5em; background: black; color: lime; text-shadow: lime 0 0 10px; font-family: monospace; text-align: center; }

/* The all-important game list */
table.games { width: 100%; }
table.games th { padding: 0.33em; border-bottom: 1px solid #404040; text-align: center; font-weight: bold; }
table.games td { padding: 0.17em 0.33em; line-height: 1.33; }
table.games tbody:nth-child(2n  ) { background: #f0f0f0; }
table.games tbody:nth-child(2n+1) { background: #ffffff; }
table.games tbody:hover { background: #d8d8d8; }

table.games td.icon { width: 16px; vertical-align: middle; }
table.games td.number { text-align: right; }
table.games td.dlvl { text-align: right; }
table.games td.hp1 { padding-right: 0; text-align: right; }
table.games td.hp2 { padding-left: 0; }
table.games td.time { text-align: right; }
table.games td.epitaph { font-style: italic; color: #606060; }

table.games .ASCEND { -moz-box-shadow: 0 0 2em 1em gold; text-shadow: 0 0 1em gold; }

/* Player page */
table.bargraph { width: 100%; border-collapse: collapse; }
table.bargraph col.col-category { width: 8em; }
table.bargraph td { padding: 0.33em; }
.bargraph-bar { padding: 0.33em; border: 1px dotted #a58337; background: #d6bd84; }

/* Game page */
#epitaph { margin: 0.5em 4em; padding: 0.5em 1em; background-color: #e0e0e0; -moz-border-radius: 0.25em; font-family: monospace; }
pre#dumplog { overflow: auto; margin-top: 0.5em; line-height: 1.2; font-family: monospace; }
