/* Global layout */
body { padding: 1em; border: 1em solid #d6bd84; font-family: sans; font-size: 12px; }

h1 { font-size: 2em; margin: 0.5em 0 0.25em; padding: 0.17em 0.33em; border-bottom: 3px double black; font-weight: bold; text-shadow: #c0c0c0 1px 1px 3px; }
h2 { font-size: 1.67em; margin: 0.4em 0 0.2em; padding: 0.17em 0.33em; border-bottom: 2px solid black; }
h3 { font-size: 1.33em; margin: 0.375em 0 0.18em; padding: 0.17em 0.33em; border-bottom: 1px dotted black; }

a { font-weight: bold; text-decoration: none; color: #4073bf; }
a:visited { color: #6a7b95; }
a:hover { color: #2a4d7f; }

input, button { vertical-align: middle; }
select { vertical-align: bottom; }


dl.standard-form { line-height: 2; }
dl.standard-form dt { float: left; width: 10em; text-align: right; font-style: italic; }
dl.standard-form dd { margin-left: 10.5em; }
dl.standard-form dd:after { content: 'float clear'; display: block; clear: left; height: 0; visibility: hidden; }
dl.standard-form dd + dd { margin-top: 1em; }


/* The all-important game list */
table.games { width: 100%; }
table.games th { padding: 0.33em; border-bottom: 1px solid #404040; text-align: center; font-weight: bold; }
table.games td { padding: 0.17em 0.33em; line-height: 1.33; }
table.games tbody:nth-child(2n  ) { background: #f0f0f0; }
table.games tbody:nth-child(2n+1) { background: #ffffff; }
table.games tbody:hover { background: #d8d8d8; }

table.games td.icon { width: 16px; vertical-align: middle; }
table.games td.number { text-align: right; }
table.games td.dlvl { text-align: right; }
table.games td.hp1 { padding-right: 0; text-align: right; }
table.games td.hp2 { padding-left: 0; }
table.games td.epitaph { font-style: italic; color: #808080; }

table.games .ASCEND { -moz-box-shadow: 0 0 2em 1em gold; text-shadow: 0 0 1em gold; }

/* Player page */
table.bargraph { width: 100%; border-collapse: collapse; }
table.bargraph col.col-category { width: 8em; }
table.bargraph td { padding: 0.33em; }
.bargraph-bar { padding: 0.33em; border: 1px dotted #a58337; background: #d6bd84; }
