body { margin: 1em; font-family: sans; font-size: 12px; }

table.games { width: 100%; }
table.games th { padding: 0.33em; border-bottom: 1px solid #404040; text-align: center; font-weight: bold; }
table.games td { padding: 0.17em 0.33em; line-height: 1.33; }
table.games tbody:nth-child(2n  ) { background: #f0f0f0; }
table.games tbody:nth-child(2n+1) { background: #ffffff; }
table.games tbody:hover { background: #d8d8d8; }

table.games td.number { text-align: right; }
table.games td.dlvl { text-align: right; }
table.games td.hp1 { padding-right: 0; text-align: right; }
table.games td.hp2 { padding-left: 0; }
table.games td.epitaph { font-style: italic; color: #808080; }
